body, html {
  margin: 0;
}

html {
  height: 100%;
  background-color: #ffffff;
}

body {
  height: inherit;
  overflow: hidden;
}

h1, p {
  font-family: sans-serif;
  text-align: center;
}

div p {
  padding: 20px;
  background-color: rgba(0,0,0,0.2);
}

div {
  overflow: auto;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
}

button {
  margin: 0 auto;
  display: block;
  font-size: 1.1rem;
  width: 170px;
  line-height: 2;
  margin-top: 30px;
}


.phrase {
  font-weight: bold;
}

.output {
  font-style: italic;
}

.excel-column
{
	font-weight: bold;
	text-align : center;
}

.background{
	background-image: url(../image/background1.png); 
	background-size: auto
}

.mainDiv{
	margin-top: 45%;
	margin-bottom: 15%;
}